@model IEnumerable<HotelMVC.Models.CTipoHabitacion>

@{
    ViewBag.Title = "Tipo Habitación";
}
<h2>Tipo Habitación</h2>
<p>
    <div class="input-group">
        <div class="col-sm-12">
            <button class="btn" title="Registrar" onclick="location.href='@Url.Action("Create", "CTipoHabitacions")';return false;">
                <img src="~/Images/nuevo.png" alt="nuevo" style="width:24px;" />
            </button>
        </div>
    </div>
    </div>
    
</p>
<table class="table">
    <tr>
        <th>Descripción</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
        <td>
            <div>
                <button class="btn" title="Editar" onclick="location.href='@Url.Action("Edit", "CTipoHabitacions", new { id = item.IdTipoHabitacion })';return false;">
                    <img src="~/Images/editar.png" alt="editar" style="width:16px;" />
                </button>
                <button class="btn" title="Eliminar" onclick="location.href='@Url.Action("Delete", "CTipoHabitacions", new { id = item.IdTipoHabitacion })';return false;">
                    <img src="~/Images/eliminar.png" alt="eliminar" style="width:16px;" />
                </button>
             </div>
        </td>
    </tr>

}
</table>
